* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 40px;
  overflow-x: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.container {
  background-color: rgb(40, 39, 39);
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid black;
}

#userInput {
  width: 100%;
  height: 50px;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  background: #111;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #555;
}
#equal {
  grid-column: span 5;
  height: 30px;
  background-color: rgba(77, 164, 250, 0.834);
}

.results {
  background-color: #0077ff;
}

.results:hover {
  background-color: #005fcc;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
}